# choose st-link/j-link/dap-link etc.
adapter driver cmsis-dap
transport select swd

# 0x10000 = 64K Flash Size
# 564K
set FLASH_SIZE 0x8D0000

source [find target/stm32h7x.cfg]

# download speed = 10MHz
adapter speed 10000